.lobby {
  margin-left: 31%;
  margin-right: 31%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* might want to change this */
  height: 98vh;
}

.lobby ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.lobby ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.lobby ul li p {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: 0;
  border-radius: 10px;
  background-image: linear-gradient(#7300e6, #6600cc);
  color: white;
}

.bottom {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom button {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(#00ccff, #00b8e6);
  color: white;
  font-size: 14pt;
}

.bottom button:hover {
  cursor: pointer;
  background-image: linear-gradient(#00a3cc, #008fb3)
}

/* I pulled these numbers from nowhere, but it makes it a little bit responsive*/
@media screen and (max-width: 700px) {
  .lobby {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-height: 1000px) {
  .bottom {
    margin-top: auto;
    margin-bottom: 15px;
  }
}